/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: linear-gradient(120deg, #ffffff 44.9%, #4c79d3 45%) no-repeat fixed;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}